<table class="set">
    <tr>
        <td><button class="btn btn-outline-primary" (click)="sendnumber1('1')">1⠁</button></td>&nbsp;
        <td><button class="btn btn-outline-primary" (click)="sendnumber1('2')">2⠂</button></td>&nbsp;
        <td><button class="btn btn-outline-primary" (click)="sendnumber1('3')">3⠃</button></td>&nbsp;<td></td>
        <td><button class="btn btn-outline-danger" (click)="getstatus('cancel')">Cancel</button></td>&nbsp;
    </tr><br>
    <tr>
        <td><button class="btn btn-outline-primary" (click)="sendnumber1('4')">4⠄</button></td>&nbsp;
        <td><button class="btn btn-primary" (click)="sendnumber1('5')">5⠅</button></td>&nbsp;
        <td><button class="btn btn-outline-primary" (click)="sendnumber1('6')">6⠆</button></td>&nbsp;<td></td>
        <td><button class="btn btn-outline-warning" (click)="getstatus('clear')">Clear</button></td>&nbsp;
    </tr><br>
    <tr>
        <td><button class="btn btn-outline-primary" (click)="sendnumber1('7')">7⠇</button></td>&nbsp;
        <td><button class="btn btn-outline-primary" (click)="sendnumber1('8')">8⠈</button></td>&nbsp;
        <td><button class="btn btn-outline-primary" (click)="sendnumber1('9')">9⠉</button></td>&nbsp;<td></td>
        <td><button class="btn btn-outline-success" (click)="getstatus('Enter')">Enter</button></td>&nbsp;
    </tr><br>
    <tr>
        <td><button class="btn btn-outline-primary disabled">_</button></td>&nbsp;
        <td><button class="btn btn-outline-primary" (click)="sendnumber1('0')">0 </button></td>&nbsp;
        <td><button class="btn btn-outline-primary disabled">_</button></td>&nbsp;<td></td>
        <td><button class="btn btn-outline-primary disabled">_</button></td>&nbsp;
    </tr>
</table>    